.navbar{
  transition: all 0.3s ease;

  &.navbar-dark{
    a > .icon,
    svg > .line{
      color: #fff;
      stroke: #fff;
    }
  }

  &.navbar-light{
    a > .icon,
    svg > .line{
      color: rgba(0,0,0,0.5);
      stroke: rgba(0,0,0,0.5);
    }
  }

  &.navbar-light{
    .searchBar{
      background-color: #ededed;
      opacity: 1;
      z-index: 10;
    }
  }

  // Styles for search box
  .search{
    opacity: 0.3;
    transition: all 0.3s ease;

    &:focus{
      opacity: 1;
    }
  }

  // Animating hamburger icon
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:4.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
  nav{

    .searchBar{
      position: absolute;
      top: 10px;
      // display: none;
      width: calc(100% - 80px);
      right: 12px;
      opacity: 0;
      transform: translateY(-80px);
      transition: all 0.3s ease;

      &.active{
        // display: block;
        transform: translateY(5px);
        opacity: 1;
      }
    }
    .navbar-brand{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .navbar-nav{
      .dropdown-menu{
        position: fixed !important;
        width: calc(100% - 10px) !important;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}